---
import { getCollection } from 'astro:content'

import Navigation from '~/components/Navigation.astro'
import Container from '~/components/Container.astro'
import Header from '~/components/Header.astro'

import { SITE_DESCRIPTION, SITE_TITLE, SITE_LANG } from '../config'
import ColorScript from '../scripts/ColorScript.astro'
import BaseHead from '../components/BaseHead.astro'
import TagList from '../components/TagList.astro'
import Footer from '../components/Footer.astro'
import getTags from '../utils/getTags'

const posts = await getCollection('posts')
const tags = getTags(posts)
---

<!doctype html>
<html lang={SITE_LANG}>
    <BaseHead description={SITE_DESCRIPTION} title={SITE_TITLE} />
    <body>
        <Container>
            <Header />
            <Navigation />
            <main>
                <section>
                    <div class='error'>
                        <h3 class='error__title'>Error:</h3>
                        <p class='error__message'>404: Página não encontrada</p>
                    </div>
                </section>

                <section>
                    <h3>Ver posts por tag:</h3>
                    <TagList {tags} />
                </section>
            </main>
            <Footer />
        </Container>
        <ColorScript />
    </body>
</html>

<style>
    .error {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 1rem;
    }

    .error__title {
        font-size: 2rem;
    }

    .error__message {
        font-weight: 600;
        font-size: 1.5rem;
    }
</style>
