*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --h1-size: 1.5rem;
    --h1-weight: 700;
    --h1-color: var(--red);

    --h2-weight: 600;
    --h2-size: 1.25rem;
    --h2-color: var(--orange);

    --h3-weight: 600;
    --h3-size: 1.025rem;
    --h3-color: var(--yellow);

    --h4-weight: 600;
    --h4-size: 1rem;
    --h4-color: var(--lime);

    --h5-weight: 600;
    --h5-size: 1rem;
    --h5-color: var(--green);

    --h6-weight: 600;
    --h6-size: 1rem;
    --h6-color: var(--cyan);
}

@media (prefers-color-scheme: light) {
    :root {
        --border: 0 0% 80%;
        --background: 0 0% 98%;
        --foreground: 0 0% 9%;

        --codeblock-border-opacity: 0.5;

        --tag: 240 3% 90%;
        --tag-foreground: 240, 4%, 16%;

        --red: #e11d48;
        --orange: #ea580c;
        --yellow: #eab308;
        --lime: #84cc16;
        --green: #22c55e;
        --cyan: #2dd4bf;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --border: 240 4% 18%;
        --background: 0 0% 9%;
        --foreground: 0 0% 96%;

        --codeblock-border-opacity: 0;

        --tag: 240 4% 16%;
        --tag-foreground: 240 1% 81%;

        --red: #f43f5e;
        --orange: #fdba74;
        --yellow: #fde68a;
        --lime: #d9f99d;
        --green: #bbf7d0;
        --cyan: #a5f3fc;
    }
}

html,
body {
    width: 100%;
    min-height: 100vh;
    position: relative;

    tab-size: 4;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Recursive', monospace;

    color: hsl(var(--foreground));
    background-color: hsl(var(--background));

    word-wrap: break-word;
    overflow-wrap: break-word;
}

p {
    margin-top: 0.85rem;
    margin-bottom: 0.85rem;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

a {
    color: inherit;
    text-underline-offset: 0.2ex;
    text-decoration-thickness: 0.2ex;
}

blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 0.15rem solid hsl(var(--border));
}

pre {
    padding: 1rem;
    margin: 0.25rem 0;

    overflow: hidden;
    position: relative;

    border-radius: 0.325rem;
    border: 1px solid hsl(var(--border) / var(--codeblock-border-opacity));
}

pre > code {
    display: block;
    overflow-x: auto;
}

:not(pre) > code {
    display: inline-block;
    line-height: 1.25;
    font-size: 0.85rem;
    font-family: monospace;
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
    background-color: hsl(var(--foreground) / 0.05);
}

button {
    border: none;
    font: inherit;
    color: inherit;
    display: inline-flex;
    background-color: transparent;
}

.copy-code-btn {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 0.75rem;
    border-radius: 0.25rem;
    color: hsl(var(--foreground) / 0.5);
    background-color: hsl(var(--background) / 0.75);

    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.5rem;

    cursor: pointer;
}

.copy-code-btn:hover {
    color: hsl(var(--foreground));
}

.copy-code-btn[data-copied='true'] {
    color: var(--green);
}

sub,
sup {
    font-size: 75%;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25rem;
}

sup {
    top: -0.25rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid hsl(var(--border));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h1 {
    color: var(--h1-color);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
}

h2 {
    color: var(--h2-color);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
}

h3 {
    color: var(--h3-color);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
}

h4 {
    color: var(--h4-color);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
}

h5 {
    color: var(--h5-color);
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
}

h6 {
    color: var(--h6-color);
    font-size: var(--h6-size);
    font-weight: var(--h6-weight);
}

table {
    border-collapse: collapse;
    border-top: 1px solid hsl(var(--border));
    border-left: 1px solid hsl(var(--border));
}

thead {
    background-color: hsl(var(--border));
}

tr {
    border-bottom: 1px solid hsl(var(--border));
}

th,
td {
    border-right: 1px solid hsl(var(--border));
    padding: 0.25rem 0.5rem;
}

ul,
ol {
    padding-inline-start: 1rem;
}

figure,
image,
img {
    max-width: 100%;
}