---
import { SITE_URL } from '~/config'
---

<p class='subscribe-rss'>
    Você também pode
    <a href={`${SITE_URL}rss.xml`}> se inscrever com RSS </a>
</p>

<style>
    .subscribe-rss {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
</style>
