---
import Tag from './Tag.astro'

interface Props {
    tags: string[]
}

const { tags } = Astro.props
---

<ul class='tag-list'>
    {
        tags.map((tag) => (
            <li>
                <Tag name={tag} />
            </li>
        ))
    }
</ul>

<style>
    .tag-list {
        display: flex;
        align-items: center;
        gap: 0 0.25rem;

        list-style: none;
        padding-inline-start: 0;
    }
</style>
